*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #333;
}

nav{
  color: #fff;
  height: 50px;
  width: 100%;
  background-color: #dbdada;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

nav h1{
  color: #000;
}

nav h1 span{
  color: rgb(185, 8, 8);
}

.container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

input{
  width: 100%;
  font-size: 20px;
  border: none;
  background-color: #222;
  padding: 5px 10px;
  border-radius: 10px;
  border: #999 solid 2px;
  color: #fff;
}

input:focus{
  outline: none;
}

img{
  width: 100%;
}

.user_name{
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 3px;
}

.bio{
  text-align: center;
  color: #fff;
  margin: 3px 0;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  padding: 5px 0;
}

.stats{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.stats >*{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(45, 145, 45);
  padding: 5px 10px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 7px;
  border: 1px #fff solid;
}

.stats .followers{
  background-color: rgb(88, 88, 219);
}

.stats .following{
  background-color: rgb(177, 99, 177);
}

.reposTitle{
  font-size: 1.4rem;
  color: #fff;
  margin-top: 5px;
}

.repoList{
  width: 100%;
  margin-bottom: 20px;
}

.repo{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top: 5px;
}

.repo_name{
  font-size: 1.3rem;
}

.user_name{
  text-align: center;
}

.reposTitle{
  text-align: center;
}

.view_project{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background-color: #222;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  border: 1px #fff solid;
}

.results{
  display: none;
}


@media(min-width:600px){
  .results{
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 50px;
  }

  .left{
    margin-right: 20px;
    margin-top: 40px;
    width: 35%;
  }

  .right{
    flex: 1;
  }
}

.yellow{
  border: 1px solid rgb(230, 230, 70);
}

.red{
  border: 1px solid rgb(156, 79, 56);
}

.blue{
  border: 1px solid rgb(66, 118, 196);
}